.DS_Store
bin/
obj/
test.debug
*.swp
*.swo
*.log
src/frontend/lexer.yy.cpp
src/frontend/parser.output
src/frontend/parser.tab.cpp
src/frontend/parser.tab.hpp
src/frontend/stack.hh
src/frontend/location.hh
src/frontend/position.hh
